# Database
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=mides

# Front-end domain used in invitation links
DOMINIO_FRONTEND=localhost:5173   # Change in production

# Outgoing e-mail credentials
SENDER_EMAIL=your_email@example.com
SENDER_PASSWORD=your_email_password
SENDER_APP_PASSWORD=your_email_app_password
